		<nav class="navbar navbar-default navbar-custom">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" style="color: #ecf0f1;">Training Bootstrap</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="active" style="color: #2980b9;"><%= link_to "Home", root_path %></li>
					<li><%= link_to "Profile", articles_about_path %></li>
					<li><%= link_to "Contact", articles_contact_path %></li>
				</ul>
			</div>
		</nav>

		<div class="container-fluid">
			
			<div class="row">

				<div class="col-sm-2">
					<%= image_tag("profpic.jpg", :class => "img-circle", :width => "200", :height => "auto")%>
				</div>

				<div class="col-sm-2">
					<br><br><br>
					<h4 style="margin: 0;">Amando</h4>
					<h1 style="margin: 0;">Demas</h1>
				</div>

				<div class="col-sm-8">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-sm-2">Email:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="email">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2">Messages:</label>
							<div class="col-sm-6">
								<textarea class="form-control" rows="5" id="messages"></textarea>
							</div>
						</div>

						<div class="form-group">
					      <div class="col-sm-offset-2 col-sm-10">
					        <button type="submit" class="btn btn-default">Submit</button>
					      </div>
						</div>
					</form>
				</div>
				
			</div>

		</div>